* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  header {
    background-color: #ffc107;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #343a40;
  }
  
  header p {
    font-size: 1.2em;
    color: #495057;
  }
  
  main {
    padding: 20px;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h3 {
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #495057;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  select {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* Responsividade */
  @media (max-width: 1200px) {
    .menu {
      justify-content: space-between;
    }
    
    .card {
      width: 220px;
    }
  }
  
  @media (max-width: 1024px) {
    header h1 {
      font-size: 2.2em;
    }
  
    header p {
      font-size: 1.1em;
    }
  
    .card {
      width: 200px;
    }
  
    button {
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      margin: 10px 0;
    }
  
    header h1 {
      font-size: 2em;
    }
  
    header p {
      font-size: 1em;
    }
  
    button {
      width: 100%;
      padding: 10px;
    }
  }
  
  @media (max-width: 576px) {
    header h1 {
      font-size: 1.8em;
    }
  
    header p {
      font-size: 0.9em;
    }
  
    .card {
      width: 100%;
    }
  
    button {
      font-size: 1em;
    }
  }
  
  /* Estilo para Smart TV (telas muito grandes) */
  @media (min-width: 1800px) {
    body {
      font-size: 1.2em;
    }
  
    header h1 {
      font-size: 3.5em;
    }
  
    header p {
      font-size: 1.5em;
    }
  
    .card {
      width: 350px;
      padding: 30px;
    }
  
    button {
      padding: 15px 30px;
      font-size: 1.2em;
    }
  
    select {
      padding: 10px;
      font-size: 1.2em;
    }
  }
  